body {
    background-color: rgb(64, 38, 28);
    font-family: Arial, sans-serif;
    margin: 0;
    color: #f5e6d3;
}


h1 {
    color: #8B0000;
    font-size: 55px;
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
}


h2 {
    font-size: 28px;
    color: #A52A2A;
    margin-top: 30px;
    margin-left: 20px;
}


img {
    border: 2px solid #5c1e12;
    margin: 15px auto;
    display: block;
    width: 100%;
    max-width: 500px;
    border-radius: 6px;
}


p {
    font-size: 16px;
    color: #f5e6d3;
    line-height: 1.5;
    margin-left: 20px;
    margin-right: 20px;
}

ul {
    padding-left: 40px;
}

li {
    margin-bottom: 10px;
    color: #f5e6d3;
}


a {
    color: #d97b5a;
}

a:hover {
    color: #ffb38a;
}

button {
    background-color: #8B0000;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #A52A2A;
}

@media (max-width: 768px) {
    h1 {
        font-size: 32px;
        text-align: center;
    }

    nav {
        text-align: center;
    }

    body {
        padding: 10px;
    }
}