body {
    background-color: rgb(243, 124, 142);
}

h1 {
    color: rgb(63, 37, 8);
    font-size: 35px;
}

h2 {
    color: rgb(63, 37, 8);
    font-size: 30px;
}

img {
    border: 1px solid black;
    margin: 10px auto;
    display: block;
}

p {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 16px;
    color: black;
}

li {
    color: black;
}

a {
    color: blue;
}

a:hover {
    color: rgb(255, 0, 208);
}