body {
    background-color: rgb(190, 215, 254);
    font-family: "Arial", sans-serif;
}

h1 {
    color:darkblue;
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    font-size: 26px;
    color: darkblue;
    margin-top: 20px;
    margin-left: 15px;
}

img {
    border: 1px solid black;
    margin: 15px auto;
    display: block;
}

p {
    font-size: 16px;
    color: black;
    line-height: 1.5;
}

ul {
    padding: 10px 30px;
}

li {
    margin-bottom: 10px;
    color:black;
}

a {
    color: blue;
}

a:hover {
    color: rgb(255, 0, 208);
}